
@{
    ViewBag.Title = "Registro de Empleados";
    Layout = "~/Areas/Company/Views/Shared/_Layout.cshtml";
}
<section class="section">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")" class="text-muted">Home</a></li>
        <li class="breadcrumb-item active text-" aria-current="page">Registro de Empleados</li>
    </ol>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4>Registro de Empleados</h4>

                </div>
                <div class="card-body">

                    <button class="btn btn-danger m-t-5 m-b-5" id="agregarEmpleado">Agregar Empleado</button>
                    <hr />
                    <div id="listaEmpleados" class="table-responsive">
                        @Html.Partial("ListaEmpleados", (IEnumerable<AmbienteWeb.Proyecto.Carpooling.Web.Areas.Company.ViewModels.EmpleadoViewModel>)ViewBag.ListaEmpleados)
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="employee-container"></div>
<div id="map-employee-container"></div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/ajax-unobtrusive")

    <script type="text/javascript">
        function OnComplete(response) {
            $('#empleadoModal').modal('hide');
            $('#empleadosDataTable').DataTable();
        }

        function OnSuccess(data) {
            $("#employee-container").html(data);
            $.validator.unobtrusive.parse("#frmEmpleado");
            $('#empleadoModal').modal('show');
        }

        var map;
        var marker;
        function initMap(lat, lng) {

            var mapOptions = {
                center: { lat: -12.046374, lng: -77.042793 },
                zoom: 8
            };

            map = new google.maps.Map(document.getElementById('map'), mapOptions);

            // Get GEOLOCATION
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var pos = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                    if (lat) {
                        pos = new google.maps.LatLng(lat, lng);
                    }
                

                map.setCenter(pos);
                marker = new google.maps.Marker({
                  position: pos,
                  map: map,
                  draggable: true
                });
              }, function() {
                handleNoGeolocation(true);
              });
            } else {
              // Browser doesn't support Geolocation
              handleNoGeolocation(false);
            }

            var defaultBounds = new google.maps.LatLngBounds(new google.maps.LatLng(-12.046374, -77.042793))
            var autocompleteOptions = {
                bounds: defaultBounds,
                types: ['establishment']
            }

            var input = document.getElementById('pac-input');
            //map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
            var autocomplete = new google.maps.places.Autocomplete(input, autocompleteOptions);

            autocomplete.bindTo('bounds', map);

            var infowindow = new google.maps.InfoWindow();
              marker = new google.maps.Marker({
                map: map,
                anchorPoint: new google.maps.Point(0, -29),
                draggable: true
              });

            google.maps.event.addListener(autocomplete, 'place_changed', function() {
                infowindow.close();
                marker.setVisible(false);
                var place = autocomplete.getPlace();
                if (!place.geometry) {
                  return;
                }

                // If the place has a geometry, then present it on a map.
                if (place.geometry.viewport) {
                  map.fitBounds(place.geometry.viewport);
                } else {
                  map.setCenter(place.geometry.location);
                  map.setZoom(17); // Why 17? Because it looks good.
                }
                marker.setIcon(  google.maps.Icon,({
                  url: place.icon,
                  size: new google.maps.Size(71, 71),
                  origin: new google.maps.Point(0, 0),
                  anchor: new google.maps.Point(17, 34),
                  scaledSize: new google.maps.Size(35, 35)
                }));
                marker.setPosition(place.geometry.location);
                marker.setVisible(true);

                var address = '';
                if (place.address_components) {
                  address = [
                    (place.address_components[0] && place.address_components[0].short_name || ''), (place.address_components[1] && place.address_components[1].short_name || ''), (place.address_components[2] && place.address_components[2].short_name || '')
                  ].join(' ');
                }

              });
        }

        $(function (e) {
            $('#empleadosDataTable').DataTable();

            //AGREGAR EMPLEADO
            $('#agregarEmpleado').on('click', function () {
                $.ajax({
                    url: "@Url.Action("Empleado","Empleado")",
                    method: "POST",
                    success: function (data) {
                       OnSuccess(data)
                    }
                });
            });

            //EDITAR EMPLEADO
            $('#listaEmpleados').on('click', '.editarEmpleado', function () {
                var id = $(this).data("employee");
                $.ajax({
                    url: "@Url.Action("EditarEmpleado","Empleado")",
                    method: "POST",
                    data: { id: id },
                    success: function (data) {
                        OnSuccess(data)
                    }
                });
            });

            $('#listaEmpleados').on('click', '.editarMapaEmpleado', function () {
                var id = $(this).data("employee");
                $.ajax({
                    url: "@Url.Action("EditarMapaEmpleado","Empleado")",
                    method: "POST",
                    data: { id: id },
                    success: function (data) {
                        $("#map-employee-container").html(data);
                        var lat = $("#latValue").val();
                        var lng = $("#lngValue").val();

                        initMap(lat, lng);
                        $('#mapaEmpleadoModal').modal('show');
                    }
                });
            });


            $('#map-employee-container').on('click', "#btnSave", function () {
                console.log(marker);
                console.log(marker.position.lat());
                console.log(marker.position.lng());

                $.ajax({
                    url: "@Url.Action("GrabarMapaEmpleado","Empleado")",
                    method: "POST",
                    data: {
                        Id: $("#empleadoId").val(),
                        Latitude: marker.position.lat(),
                        Longitude: marker.position.lng()
                    },
                    success: function (data) {
                        
                        $('#mapaEmpleadoModal').modal('hide');
                    }
                });
            });

        });

    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=API_KEY&libraries=places" type="text/javascript"></script>

}


