
@{
    ViewBag.Title = "Registro de Contactos";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
<section class="section">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")" class="text-muted">Home</a></li>
        <li class="breadcrumb-item active text-" aria-current="page">Registro de Contactos</li>
    </ol>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4>Registro de Contactos</h4>

                </div>
                <div class="card-body">

                    <button class="btn btn-danger m-t-5 m-b-5" id="agregarContacto" >Agregar Contacto</button>
                    <hr />
                    <div id="listaContactos" class="table-responsive">
                        @Html.Partial("ListaContactos")
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="contact-container"></div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/ajax-unobtrusive")

    <script type="text/javascript">
        function OnComplete(response) {
            $('#contactoModal').modal('hide');
            $('#contactosDataTable').DataTable();
        }

        $(function (e) {
            $('#contactosDataTable').DataTable();

            //AGREGAR CONTACTO
            $('#agregarContacto').on('click', function () {
                $.ajax({
                    url: "@Url.Action("Contacto","Empresa")",
                    method: "POST",
                    success: function (data) {
                        $("#contact-container").html(data);
                        $.validator.unobtrusive.parse("#frmContacto");

                        $('#contactoModal').modal('show');
                    }
                });
            });

            //EDITAR CONTACTO
            $('#listaContactos').on('click', '.editarContacto', function () {
                $.ajax({
                    url: "@Url.Action("EditarContacto","Empresa")",
                    method: "POST",
                    data: { id: $(this).data("contact") },
                    success: function (data) {
                        $("#contact-container").html(data);
                        $.validator.unobtrusive.parse("#frmContacto");

                        $('#contactoModal').modal('show');
                    }
                });
            });
        });
    </script>
}
